<p>home works!</p>
<!DOCTYPE html>
<html lang="es-Es">
<head>
	<title>cLientes</title>
	<link rel="stylesheet" href="home.component.scss"/>
</head>

<body>

	<header>
		<!-- Inicio Primera Zona (color) -->
		<div id="Fondo1">
            <h1 id="NombreTitulo"><span style="color:red;">D</span>iego <span style="color:red;">O</span>livera</h1> 
        </div>
        <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <button type="submit" >Formulario</button>
        </a>
    </header>
</body>
</html>