<p>home works!</p>
<!DOCTYPE html>
<html lang="es-Es">
<head>
	<title>cLientes</title>
	<link rel="stylesheet" href="home.component.scss"/>
</head>

<body>

	<header>
		<!-- Inicio Primera Zona (color) -->
		<div id="Fondo1">
            <img id="Foto" src="assets/img/mujer.png"/>
            <h1 id="NombreTitulo">Clientes</h1> 
        </div>
        <a [routerLink]="['/formulario']" routerLinkActive="router-link-active">
            <button type="submit" >Adicionar</button>
        </a>
    </header>
</body>
</html>